:root {
  --primaryColor: #dabfff;
  --secondaryColor: #4f518c;
  --textColor: #907ad6;
  --lightColor: #7fdeff;
  --darkColor: #2c2a4a;
}

@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-family: vazir;
  font-weight: normal;
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  font-family: inherit;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--darkColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightColor);
  border-radius: 25px;
  box-shadow: 0 0 5px var(--lightColor);
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
}

.items {
  width: 450px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  width: 75px;
  height: 75px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#red {
  background-color: #dc143c;
}
#green {
  background-color: #006400;
}
#yellow {
  background-color: #ffd700;
}
#purple {
  background-color: #800080;
}
#orange {
  background-color: #ff4500;
}
